/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Rubik:400,500');

$gold: #b8a972;
$red: #9d2235;
$sans: "Rubik";
$serif: "Playfair Display";

$tablet-breakpoint: 700px;
$desktop-breakpoint: 1100px;

@mixin tablet {
	@media only screen and (min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: black;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 200px;
	background-color: black;
	min-height: 100vh;
}

.page-wrap {
	width: 100%;
	width: calc(100% - 200px); // header width
	margin-left: 200px;
	height: auto;
}


/* 2. Content ================================= */

#home-hero{
	background-size: cover;
	background-position-x: 50%; 
	width: 100%;
	height: 0;
	padding-bottom: 45vw;
	position: relative;
	margin-bottom: 2%;

	h2{
		font-size: 10rem;
		font-family: $serif;
		position: absolute;
		background: rgba(0,0,0,0.4);
		color: $gold;
		text-align: center;
		top: 40%;
		width: 100%;
	}
}

.side-by-side-container{
	display: flex;
	justify-content: space-evenly;
}

.calendar{
	
	.games{
		width: 100%;
		display: flex;

		.game{
			margin: 2%;
			display: flex;
			flex-direction: column;
			align-content: center;
			width: 30%;
			background: white;
			font-size: 24px;
			font-family: $sans;
			border: 8px double $red;
			
			span{
				text-align: center;
				padding: 1%;
				margin-bottom: 5px;
			}
		
			.date-wrapper{
				display: flex;
				background: $red;
				color: $gold;
				font-weight: 500;
				transform: translateY(-30%);
				border-radius: 50%;
				width: 150px;
				height: 150px;
				margin: 0 auto;
				border: 2px solid $gold;
				
				
				.date{
					padding: 50px;
					text-align: center;
				}
			}
			
			.time{
				margin-top: -10%;
			}
		
			.img-container{
				display: flex;
				justify-content: center;
			}

			.location{
				padding-bottom: 20px;
			}
		
			.game-btn{
				padding: 10px 15px;
				background-color: $red;
				color: $gold;
				width: fit-content;
				align-self: center;
				font-size: 18px;
				margin-bottom: 20px;
				font-weight: 500;
				text-transform: uppercase;
				cursor: pointer;
				align-self: center;
				margin-top: auto;
				transition: 0.2s;

				&:hover{
					background-color: $gold;
					color: $red;
					transition: 0.2s;
					transform: rotate(2deg);
				}
			}
		}
	}
}

.last-game-wrapper{
	margin-bottom: 10%;
	width: 450px;
	padding: 10px;
	border: 5px double $red;
	background-color: white;

	.header{
		background-color: $red;
		font-size: 24px;
		font-family: $serif;
		padding: 20px;
		text-align: center;
		color: $gold;
		
		.date{
			display: flex;
			justify-content: space-between;
		}
	}

	.atl-team{
		text-align: center;
		padding-bottom: 10px;
	}

	.other-team{
		padding-bottom: 10px;
		padding-left: 10px;
	}

	.score-wrapper{
		display: flex;
		font-family: $sans;
		font-size: 1.2rem;
		padding-top: 20px;
		justify-content: center;

	}

	.opponent-div,
	.atl-div{
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	.mid-wrapper{
		display: flex;
		justify-content: space-between;
		
		.score{
			font-size: 4rem;
			align-self: center;
		}
		
	}

	.atl-team{
		text-align: right;
		padding-right: 10px;
	}

	.bottom-info{
		background: white;
		display: flex;
		flex-direction: column;

		.location{
			text-align: center;
			font-size: 24px;
			font-family: $sans;
			padding-bottom: 20px;
		}
	
		.game-btn{
			padding: 10px 15px;
			background-color: $red;
			color: $gold;
			width: fit-content;
			align-self: center;
			font-size: 18px;
			margin-bottom: 20px;
			font-weight: 500;
			text-transform: uppercase;
			cursor: pointer;
			align-self: center;
			margin-top: auto;
			transition: 0.2s;

			&:hover{
				background-color: $gold;
				color: $red;
				transition: 0.2s;
				transform: rotate(2deg);
			}
		}
	}

	.mid-section{
		justify-content: space-evenly;
		padding: 20% 0%;

		.total,
		.wins,
		.loss,
		.draws{
			display: flex;
			flex-direction: column;
		}

		p{
			font-size: 3.5rem;
			text-transform: uppercase;
			text-decoration: underline;
			text-decoration-color: $red;
		}

		span{
			text-align: center;
			font-size: 3rem;
		}
	}
}

.news-articles{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.img-wrapper{

		position: relative;
		overflow: hidden;
		
		img{
			width: 100%;
			transition: 0.2s;
			
			&:hover{
				cursor: pointer;
				transform: scale(1.2);
				transition: 0.5s;
			}
		}
	}
	
}

.article{
	border: 5px double $red;
	background: white;
	&.featured{
		width: 48%;
		margin: 1%;
	}
	
	&.regular{
		width: 31.33%;
		margin: 0% 1%;
	}
		
	
	.headline{
		background: $red;
		padding: 2%;
		border-top: 2px solid $red;
		color: $gold;
	
		span{
	
			font-family: $sans;
			font-size: 1.2rem;
		}
	}
}


